.header {
    background-color: #f1f1f1;
    padding: 20px;
    height: 120px;
    text-align: center;
}

.main {
    padding: 20px;
    height: 500px;
    text-align: center;
}

.navbar-home {
    background-color: #edb5b5;
    padding: 20px;
    text-align: center;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px dot-dash #f9f6f6;
}

.li {
    list-style: none;
}